{% extends "layouts/base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blissful Beginnings List</title>
</head>
<body>
    <h1>Blissful Beginnings List</h1>
    <ul>
        <li>Makeup artists
            <ul>
                <li>Subitem 1.1
                    <ul>
                        <li>Subitem 1.1.1</li>
                        <li>Subitem 1.1.2</li>
                    </ul>
                </li>
                <li>Subitem 1.2
                    <ul>
                        <li>Subitem 1.2.1</li>
                        <li>Subitem 1.2.2</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Hair stylists
            <ul>
                <li>Subitem 2.1
                    <ul>
                        <li>Subitem 2.1.1</li>
                        <li>Subitem 2.1.2</li>
                    </ul>
                </li>
                <li>Subitem 2.2
                    <ul>
                        <li>Subitem 2.2.1</li>
                        <li>Subitem 2.2.2</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Photographers
            <ul>
                <li>Subitem 3.1
                    <ul>
                        <li>Subitem 3.1.1</li>
                        <li>Subitem 3.1.2</li>
                    </ul>
                </li>
                <li>Subitem 3.2
                    <ul>
                        <li>Subitem 3.2.1</li>
                        <li>Subitem 3.2.2</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Bridemaid
            <ol>
                <li>Subitem 4.1
                    <ul>
                        <li>Subitem 4.1.1</li>
                        <li>Subitem 4.1.2</li>
                    </ul>
                </li>
                <li>Subitem 4.2
                    <ul>
                        <li>Subitem 4.2.1</li>
                        <li>Subitem 4.2.2</li>
                    </ul>
                </li>
            </ol>
        </li>
    </ul>
</body>
</html>

{% endblock content %}