{% extends "layouts/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridemaid</title>
</head>
<body>
    <h1>Bridemaid List</h1>
        <li>
            <ul>
                <li>ليلى الرشيد
                    <ul>
                        <li>Bridesmaid Package: 150 SAR</li>
                        <li>Deluxe Bridesmaid Package: 300 SAR</li>
                    </ul>
                </li>
                <li>هدى الصافي
                    <ul>
                        <li>Bridesmaid Package: 130 SAR</li>
                        <li>Deluxe Bridesmaid Package: 280 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
            <ul>
                <li>وصايف الفرحان
                    <ul>
                        <li>Bridesmaid Package: 140 SAR</li>
                        <li>Deluxe Bridesmaid Package: 290 SAR</li>
                    </ul>
                </li>
                <li>عبير سلطان 
                    <ul>
                        <li>Bridesmaid Package: 120 SAR</li>
                        <li>Deluxe Bridesmaid Package: 270 SAR</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>فريدة الشريف
                    <ul>
                        <li>Bridesmaid Package: 160 SAR</li>
                        <li>Bridesmaid Package: 160 SAR</li>
                    </ul>
                </li>
                <li>رزان الخالد
                    <ul>
                        <li>Ultimate Bridesmaid Package: 460 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>

{% endblock content %}