{% extends "layouts/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Stylists</title>
</head>
<body>
    <h1>Hair Stylists List</h1>
        <li>
            <ul>
                <li>أريام مهدي
                    <ul>
                        <li>Hair Care Package: 100 SAR</li>
                        <li>Hair Care Package: 250 SAR</li>
                        <li>Wedding Package: 500 SAR</li>
                    </ul>
                </li>
                <li>أمل الجبوري
                    <ul>
                        <li>Haircut and Styling Package: 80 SAR</li>
                        <li>Hair Care Package: 200 SAR</li>
                        <li>Comprehensive Beauty Package: 350 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
            <ul>
                <li>جمانة العتيبي
                    <ul>
                        <li>Hair Styling Package: 120 SAR</li>
                        <li>Hair Care Package: 280 SAR</li>
                        <li>Wedding Package: 600 SAR</li>
                    </ul>
                </li>
                <li>خلود فاهد
                    <ul>
                        <li>Quick Styling Package: 90 SAR</li>
                        <li>Hair Care Package: 150 SAR</li>
                        <li>Wedding Package: 450 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>

{% endblock content %}