{% extends "layouts/base.html" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

            <!-- Main Start -->
             
 <!-- search Navigation -->
 <form method="post" action="{% url 'search'%}">
    
    {% csrf_token %}
    <input type="text" placeholder="enter a keyword" name="keyword" />
    <br/> 
    <br/> 
    <button type="submit">search</button>
 </form>

            <!-- Make up artists Section -->
           
            <!-- Hair Stylists Section -->

            <!-- Photographers Section -->

            <!-- Bridemaid Section -->

            <!-- Contact Section -->

            <!-- Main End -->

    
{% endblock content %}
