{% extends "layouts/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Up Artists</title>
</head>
<body>
    <h1>Make Up Artists List</h1>
        <li>
            <ul>
                <li>سارة فهد 
                    <ul>
                        <li>bride make up : 900 riyal </li>
                        <li>normal mak up : 300 riyal </li>
                    </ul>
                </li>
                <li>نهلة محمد
                    <ul>
                        <li>bride make up : 1090 riyal</li>
                        <li>normal mak up : 250 riyal</li>
                    </ul>
                </li>
            </ul>
        </li>
            <ul>
                <li>منى الفالح 
                    <ul>
                        <li>bride make up : 859 riyal</li>
                        <li>normal mak up : 330 riyal</li>
                    </ul>
                </li>
                <li>هياء سعود
                    <ul>
                        <li>bride make up : 880 riyal</li>
                        <li>normal mak up : 400 riyal</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>سمية عبدالرحمن
                    <ul>
                        <li>bride make up : 989 riyal</li>
                        <li>normal mak up : 433 riyal</li>
                    </ul>
                </li>
                <li>نورة ناصر 
                    <ul>
                        <li>bride make up : 1200 riyal</li>
                        <li>normal mak up : 500 riyal</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>

{% endblock content %}