{% extends "layouts/base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographers</title>
</head>
<body>
    <h1>Photographers List</h1>
        <li>
            <ul>
                <li>رهف محمد
                    <ul>
                        <li>Wedding Photography Package: 1500 SAR</li>
                        <li>Comprehensive Photography Package: 2500 SAR</li>
                    </ul>
                </li>
                <li>مرام الطويل
                    <ul>
                        <li>Wedding Photography Package: 1400 SAR</li>
                        <li>Comprehensive Photography Package: 2400 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
            <ul>
                <li>رزان سيف
                    <ul>
                        <li>Wedding Photography Package: 1600 SAR</li>
                        <li>Comprehensive Photography Package: 2600 SAR</li>
                    </ul>
                </li>
                <li>هتان يزيد
                    <ul>
                        <li>Wedding Photography Package: 1450 SAR</li>
                        <li>Comprehensive Photography Package: 2350 SAR</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>الجوهرة الفيصل
                    <ul>
                        <li>Wedding Photography Package: 1550 SAR</li>
                        <li>Comprehensive Photography Package: 2550 SAR</li>
                    </ul>
                </li>
                <li>ريم بدر
                    <ul>
                        <li>Wedding Photography Package: 1350 SAR</li>
                        <li>Comprehensive Photography Package: 2200 SAR</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>

{% endblock content %}