        <!-- Header -->
        <header class="active">
            <a href="/" class="logo1">Blissful Beginnings</a>
            <img src=".\images\logo1.jpg" alt=""> 
            <ul class="nav">
                <li><a class="nav-btn" href="Home"><ion-icon name="home-outline"></ion-icon></a></li>
                <li><a class="nav-btn" href="MakeUpList" data-target="Make Up Artists">Make Up Artists</a></li>
                <li><a class="nav-btn" href="HairList" data-target="Hair Stylists">Hair Stylists</a></li>
                <li><a class="nav-btn" href="PhotoList" data-target="Photographers">Photographers</a></li>
                <li><a class="nav-btn" href="Bridemaid" data-target="Bridemaid">Bridemaid</a></li>
                <li><a data-target="search">search</a></li>
            </ul>
        </header>